@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  html:before, html:after, body:before, body:after, div:before, div:after, span:before, span:after, object:before, object:after, iframe:before, iframe:after,
  h1:before,
  h1:after, h2:before, h2:after, h3:before, h3:after, h4:before, h4:after, h5:before, h5:after, h6:before, h6:after, p:before, p:after, blockquote:before, blockquote:after, pre:before, pre:after,
  abbr:before,
  abbr:after, address:before, address:after, cite:before, cite:after, code:before, code:after,
  del:before,
  del:after, dfn:before, dfn:after, em:before, em:after, img:before, img:after, ins:before, ins:after, kbd:before, kbd:after, q:before, q:after, samp:before, samp:after,
  small:before,
  small:after, strong:before, strong:after, var:before, var:after,
  b:before,
  b:after, i:before, i:after,
  dl:before,
  dl:after, dt:before, dt:after, dd:before, dd:after, ol:before, ol:after, ul:before, ul:after, li:before, li:after,
  fieldset:before,
  fieldset:after, form:before, form:after, label:before, label:after, legend:before, legend:after,
  article:before,
  article:after, aside:before, aside:after, canvas:before, canvas:after, details:before, details:after, figcaption:before, figcaption:after, figure:before, figure:after,
  footer:before,
  footer:after, header:before, header:after, hgroup:before, hgroup:after, menu:before, menu:after, nav:before, nav:after, section:before, section:after, summary:before, summary:after,
  time:before,
  time:after, mark:before, mark:after, audio:before, audio:after, video:before, video:after, button:before, button:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

sub,
sup {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  sub:before, sub:after,
  sup:before,
  sup:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

a:before, a:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: none; }

q:before, q:after {
  content: none; }

:focus {
  outline: 0; }

input[type="text"], textarea {
  -webkit-appearance: none; }
  input[type="text"]::-ms-clear, textarea::-ms-clear {
    display: none; }

input,
textarea {
  border-radius: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #eee; }
  input::-moz-placeholder,
  textarea::-moz-placeholder {
    color: #eee; }
  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: #eee; }
  input:focus::-webkit-input-placeholder,
  textarea:focus::-webkit-input-placeholder {
    color: transparent; }
  input:focus::-moz-placeholder,
  textarea:focus::-moz-placeholder {
    color: transparent; }
  input:focus:-ms-input-placeholder,
  textarea:focus:-ms-input-placeholder {
    color: transparent; }

textarea {
  resize: none; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word; }

div {
  display: block; }

.c-layout {
  position: relative;
  width: 100%;
  max-width: 1155px;
  margin: 0 auto;
  padding: 0 22px; }
  .c-layout::after {
    content: '';
    clear: both;
    display: table; }

html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif; }

.wrapper a {
  -webkit-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out; }
  .wrapper a:hover {
    color: #ff0909;
    -webkit-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out; }

.wrapper {
  font-family: sans-serif;
  position: relative;
  min-height: 100%;
  height: auto !important;
  overflow: hidden;
  margin-bottom: -290px; }
  .wrapper:after {
    content: "";
    display: block;
    height: 290px; }

.c-h1-title {
  font-family: Akrobat, sans-serif;
  font-size: 50px;
  color: #141414;
  line-height: 1;
  margin-bottom: 20px;
  font-weight: 600; }

.c-breadcrumb {
  padding: 30px 0; }
  .c-breadcrumb__item {
    display: inline-block;
    font-size: 14px;
    color: #aeaeae;
    letter-spacing: 1px; }
    .c-breadcrumb__item::after {
      content: '/';
      display: inline-block;
      margin: 0 3px; }
    .c-breadcrumb__item:last-child::after {
      content: ''; }
  .c-breadcrumb__link {
    color: #aeaeae;
    letter-spacing: 1px; }
  .c-breadcrumb-word {
    display: inline-block; }

.c-card-product {
  min-height: 280px;
  border-radius: 6px;
  background-color: #ffffff;
  border: 1px solid #fff;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  position: relative; }
  .c-card-product:hover {
    -webkit-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    border-color: transparent; }
    .c-card-product:hover .c-card-product__footer {
      opacity: 1;
      visibility: visible;
      position: absolute; }
    .c-card-product:hover .c-card-product-extra {
      opacity: 1;
      visibility: visible;
      -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.13);
              box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.13);
      -webkit-transition: all .1s ease-in-out;
      -o-transition: all .1s ease-in-out;
      transition: all .1s ease-in-out; }
    .c-card-product:hover .c-card-product__img,
    .c-card-product:hover .c-card-product__body {
      z-index: 3; }
  .c-card-product__img {
    position: relative;
    min-height: 282px;
    overflow: hidden; }
  .c-card-product__body {
    padding: 10px 20px 14px;
    position: relative; }
  .c-card-product-extra {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    bottom: -60px;
    left: 0;
    right: 0;
    border-radius: 6px;
    -webkit-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    z-index: 2;
    overflow: hidden; }
  .c-card-product__grid::after {
    content: '';
    clear: both;
    display: table; }
  .c-card-product__title {
    color: #121214;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 4px; }
    .c-card-product__title a {
      color: #121214;
      text-decoration: none; }
  .c-card-product__type {
    padding: 2px 0;
    float: left;
    font-size: 16px;
    color: #aeaeae; }
  .c-card-product__price {
    float: right;
    font-size: 20px;
    color: #2a2f43;
    font-weight: 700; }
  .c-card-product__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: solid 1px #e2e2e2;
    background-color: #fff; }
  .c-card-product-size {
    padding: 8px 20px; }
    .c-card-product-size::after {
      content: '';
      clear: both;
      display: table; }
    .c-card-product-size__item {
      width: 50%;
      float: left;
      font-size: 16px;
      color: #121214; }
      .c-card-product-size__item a {
        display: inline-block;
        text-decoration: none;
        color: #121214;
        margin-right: 4px; }
        .c-card-product-size__item a:last-child {
          margin-right: 0; }
  .c-card-product__btns::after {
    content: '';
    clear: both;
    display: table; }
  .c-card-product__btn {
    display: block;
    text-align: center;
    float: left;
    width: 50%;
    padding: 10px 6px;
    font-size: 16px;
    text-decoration: none; }
    .c-card-product__btn-more {
      color: #121214;
      background-color: #cecdcd; }
    .c-card-product__btn-basket {
      color: #ccc;
      background-color: #121214; }

.c-input-radio {
  display: none; }
  .c-input-radio:checked + .c-label-radio:after {
    content: '';
    position: absolute;
    bottom: .2em;
    left: .2em;
    width: .7em;
    height: .7em;
    border-radius: 3px;
    background-color: #ff9f00; }

.c-label-radio {
  display: inline-block;
  font-family: Akrobat;
  font-size: 19px;
  font-weight: 400;
  color: #4a4a4a;
  position: relative;
  padding-left: 1.5em;
  line-height: 1;
  cursor: pointer; }
  .c-label-radio::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1.11em;
    height: 1.11em;
    border-radius: 5px;
    border: solid 1px #c6c6c6; }

.c-card-filter {
  position: relative; }
  .c-card-filter__title {
    cursor: pointer; }
  .c-card-filter__body {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ccc; }
  .c-card-filter__body.active {
    display: block; }

/*иконки*/
.c-symbol {
  display: inline-block;
  vertical-align: middle;
  fill: #000; }

.symbol-search {
  font-size: 16px;
  width: 1em;
  height: 1em; }

.symbol-basket {
  font-size: 23px;
  width: 1em;
  height: 1.3em; }

.header {
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09); }
  .header-top {
    background-color: #4a4a4a;
    padding: 5px 0; }
    .header-top::after {
      content: '';
      clear: both;
      display: table; }
    .header-top-menu {
      float: left; }
      .header-top-menu__item {
        display: inline-block; }
      .header-top-menu__link {
        display: inline-block;
        padding: 0 15px;
        font-size: 12px;
        text-transform: uppercase;
        color: #ffffff;
        text-decoration: none; }
    .header-top-contact {
      float: right;
      padding: 3px 0;
      font-size: 14px;
      text-transform: uppercase; }
      .header-top-contact span {
        color: #ff250d; }
      .header-top-contact a {
        color: #ffffff;
        text-decoration: none;
        font-weight: 500;
        margin-left: 6px; }
  .header-body {
    padding: 8px 0; }
  .header-grid::after {
    clear: both;
    content: ""; }
  .header-col__left {
    width: 40%;
    float: left;
    padding: 24px 0; }
  .header-col__center {
    width: 20%;
    float: left; }
  .header-col__right {
    width: 40%;
    float: right;
    padding: 24px 0; }
  .header-logo {
    display: inline-block; }
    .header-logo-mobile {
      display: none; }
  .header-login {
    display: inline-block;
    vertical-align: middle;
    font-size: 0; }
    .header-login__item {
      padding: 0 10px;
      font-size: 16px;
      display: inline-block;
      color: #4f4f4f;
      text-decoration: none;
      letter-spacing: 2.2px;
      border-right: 1px solid #979797; }
      .header-login__item:last-child {
        border: none; }
  .header-operation {
    text-align: right; }
    .header-operation__item {
      display: inline-block;
      vertical-align: middle;
      padding: 0 23px;
      border-right: 1px solid #979797; }
      .header-operation__item:last-child {
        border: none;
        padding-right: 0; }
  .header-search {
    position: relative; }
    .header-search__icon {
      width: 18px;
      height: 18px;
      cursor: pointer;
      background: url(../img/icon-search.svg) 0 0 no-repeat; }
    .header-search__form {
      position: absolute;
      top: 0;
      right: 105%; }
    .header-search__input {
      opacity: 0;
      border: none;
      border-bottom: 1px solid #ccc; }
  .header-basket {
    color: #444343;
    font-size: 12px;
    position: relative;
    padding-left: 35px; }
    .header-basket::before {
      content: '';
      position: absolute;
      top: -9px;
      left: 0;
      width: 23px;
      height: 30px;
      background: url(../img/icon-basket.svg) 0 0 no-repeat; }
  .header-menu {
    text-align: center;
    font-size: 0;
    background-color: #ffffff;
    border-top: solid 1px #d3d3d3;
    border-bottom: solid 1px #d3d3d3;
    position: relative; }
    .header-menu__item {
      display: inline-block; }
      .header-menu__item:hover {
        border-bottom-color: #fff; }
        .header-menu__item:hover .header-submenu {
          display: block; }
    .header-menu__link {
      display: inline-block;
      padding: 8px 32px;
      color: #000000;
      font-size: 16px;
      text-transform: uppercase;
      text-decoration: none; }
  .header-submenu {
    width: 100%;
    position: absolute;
    z-index: 100;
    top: 100%;
    left: 0;
    display: none;
    background-color: #fff;
    -webkit-box-shadow: 0 18px 18px 0 rgba(0, 0, 0, 0.5);
            box-shadow: 0 18px 18px 0 rgba(0, 0, 0, 0.5);
    border-top: solid 1px #d3d3d3;
    margin-top: -1px;
    padding: 15px 15px 30px; }
    .header-submenu__title {
      font-family: Akrobat, sans-serif;
      font-size: 24px;
      color: #141414;
      text-transform: uppercase;
      margin-bottom: 10px;
      text-align: left; }
    .header-submenu__body {
      text-align: left; }
    .header-submenu__list {
      margin-right: 50px;
      display: inline-block;
      text-align: left;
      vertical-align: top; }
      .header-submenu__list:last-child {
        margin-right: 0; }
    .header-submenu__item a {
      font-size: 14px;
      padding: 6px;
      color: #333232;
      display: inline-block; }

.footer {
  background-color: #121214;
  height: 290px;
  color: #ffffff;
  padding: 30px 0; }
  .footer::after {
    content: ''; }
  .footer-grid::after {
    content: '';
    clear: both;
    display: table; }
  .footer-col {
    float: left; }
    .footer-col:nth-child(1) {
      width: 350px; }
    .footer-col:nth-child(2) {
      width: 43%;
      padding: 24px 0; }
    .footer-col:nth-child(3) {
      padding: 24px 0;
      width: 25%;
      float: right;
      text-align: right; }
  .footer-logo {
    max-width: 350px;
    margin-bottom: 4px; }
  .footer-address {
    font-size: 11px;
    letter-spacing: 1.5px;
    max-width: 64%; }
  .footer-menu__item {
    margin-bottom: 14px; }
  .footer-menu__link {
    color: #ffffff;
    font-size: 20px;
    line-height: 1;
    padding: 10px 14px;
    text-decoration: none; }
  .footer-social {
    margin-bottom: 24px; }
    .footer-social__title {
      display: inline-block;
      font-size: 11px;
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: 1px; }
  .footer-contact__title {
    font-size: 18px;
    color: #ccc;
    margin-bottom: 4px;
    text-transform: uppercase; }
  .footer-contact__item {
    margin-bottom: 8px; }
    .footer-contact__item a {
      display: inline-block;
      color: #ffffff;
      font-size: 24px;
      text-decoration: none; }
  .footer-copyright p {
    font-size: 11px;
    margin-bottom: 3px;
    letter-spacing: 1.5px;
    color: #ffffff; }

main {
  background-color: #faf9f9; }

.catalog .c-h1-title {
  margin-left: 25%; }

.catalog-nav {
  float: left;
  width: 25%; }
  .catalog-nav__title {
    font-family: Akrobat, sans-serif;
    color: #141414;
    font-size: 18px;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 10px; }
  .catalog-nav__list {
    margin-bottom: 24px; }
  .catalog-nav__item a {
    display: block;
    font-size: 14px;
    padding: 4px 0;
    color: #333232;
    text-decoration: none;
    -webkit-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out; }
    .catalog-nav__item a:hover {
      color: #ff0909;
      -webkit-transition: all .1s ease-in-out;
      -o-transition: all .1s ease-in-out;
      transition: all .1s ease-in-out; }

.catalog-body {
  float: right;
  width: 75%; }
  .catalog-body::after {
    content: '';
    clear: both;
    display: table; }

.catalog-filter {
  padding: 10px 0; }
  .catalog-filter::after {
    content: '';
    clear: both;
    display: table; }
  .catalog-filter__title {
    float: left;
    font-size: 16px;
    color: #333232;
    margin-right: 10px; }
  .catalog-filter__item {
    float: left; }

.catalog-list {
  margin-left: -14px;
  margin-right: -14px;
  margin-bottom: 28px; }
  .catalog-list::after {
    content: '';
    clear: both;
    display: table; }
  .catalog-list__item {
    float: left;
    width: 33.333%;
    padding: 14px; }
